@import "reset.css";
@import "animate.min.css";
@ht :64px;
@wt :74px;
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
body {
    font-family: Dosis, sans;
    background: -webkit-radial-gradient(rgba(250, 250, 250, 0.5),
    rgba(230, 230, 230, 0.5) 35%,
    rgba(128, 128, 128, 0.7));
    margin: 0;
    padding: 0;
    width: 2560px;
    height: 1600px;
}
.project {
}
h1 {
    font-size: 200%;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: .5ex;
}
h2 {
    font-size: 180%;
    margin-bottom: .3ex;
    margin-top: 1ex;
    font-weight: 500;
    color: #a44;
}
h3 {
    font-size: 140%;
    margin-top: .5ex;
    color: #44a;
}
.thumbnail {
    margin-right: 1ex;
}
.news {
    width: 640px;
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: solid 1px #888;
    padding: .5ex .5ex .5ex .5ex;
}
.module {
    position: absolute;
}
.twittermod {
}
.twitter {
    position: absolute;
    width: 6 *@wt;
    height: 2 *@ht;
    -webkit-transform: skew(30deg,0deg);
    background-color: #4099FF;
    color: white;
    display: block;
    overflow: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}
.spacer {
    height: 8px;
    display: block;
    float: left;
    clear: left;
}
.twitter .inner {
    -webkit-transform: skew(-30deg,0deg);
    margin-top: 2ex;
    display: block;
    width: 5 *@wt;
    height: @ht;
}

.twitter .inner p {
    font-size: 18px;
}

.twittermod .title {
    width: 5 *@wt;
    height: @ht;
    -webkit-transform: skew(-30deg,0deg);
    background-color: #44a;
    color: white;
    display: block;
    overflow: hidden;
    position: absolute;
}
.twittermod .title p {
    -webkit-transform: skew(30deg,0deg);
    margin-left: 2ex;
    margin-top: 1ex;
    font-size: @ht/2;
}

.flickrmod .title {
    width: 5 *@wt;
    height: @ht;
    -webkit-transform: skew(30deg,0deg);
    background-color: #4a4;
    color: white;
    display: block;
    overflow: hidden;
    position: absolute;
}
.flickrmod .title p {
    -webkit-transform: skew(-30deg,0deg);
    margin-left: 2ex;
    margin-top: 1ex;
    font-size: @ht/2;
}

.thumbnail {
    position: absolute;
    width: 4 *@wt;
    height: 4 *@ht;
    -webkit-transform: skew(-30deg,0deg);
    background-color: #4099FF;
    color: white;
    display: block;
    overflow: hidden;
}
.thumbnail img {
    -webkit-transform: skew(30deg,0deg);
    left: -@wt;
    display: block;
    position: relative;
}

.youtubemod .title {
    width: 5 *@wt;
    height: @ht;
    -webkit-transform: skew(30deg,0deg);
    background-color: #a44;
    color: white;
    display: block;
    overflow: hidden;
    position: absolute;
}
.youtubemod .title p {
    -webkit-transform: skew(-30deg,0deg);
    margin-left: 2ex;
    margin-top: 1ex;
    font-size: @ht/2;
}
.frame {
    position: absolute;
    width: 4 *@wt;
    height: 3 *@ht;
    -webkit-transform: skew(-30deg,0deg);
    background-color: #4099FF;
    color: white;
    display: block;
    overflow: hidden;
}

.frame img {
    -webkit-transform: skew(30deg,0deg);
    left: -@wt;
    top: -@ht;
    display: block;
    position: relative;
}

.facebook {
    width: 640px;
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: solid 1px #aaa;
    padding: .5ex .5ex .5ex .5ex;
}
.fbqr {
    float: right;
}
em {
    font-style: italic;
}
b {
    font-weight: bold;
}

.urlmod {
    position: relative;
}
.qrcode {
    z-index: 10;
    left: 2 *@wt - @ht;
    position: absolute;
    width: 2 @wt;
}
.urlmod:before {
    content: "";
    border-bottom: 2 *@ht solid #4aa;
    border-left:   @wt solid transparent;
    border-right:   @wt solid transparent;
    height: 0;
    width: 2 *@wt;
    position: absolute;
    top: -@ht;
    z-index: -10;
}
.urlmod:after {
    content: "";
    border-top: 2 *@ht solid #4aa;
    border-left:   @wt solid transparent;
    border-right:   @wt solid transparent;
    height: 0;
    width: 2 *@wt;
    position: absolute;
    top: @ht;
    z-index: -10;
}

